{% extends 'base.html' %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<h1 class="text-dark mb-4"> Add Product </h1>
<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
  <form method="POST" action="#" autocomplete="off" enctype='multipart/form-data'>
  {% csrf_token %}
    
        <div class="mb-3">
           <label class="mb-2 text-muted" for="category"> Category </label>
                      {{form.category}}
        </div>
        <div class="mb-3">
            <label class="mb-2 text-muted" for="title"> Product name </label>
                      {{form.title}}
        </div>
        <div class="mb-3">
            <label class="mb-2 text-muted" for="image"> Product image </label>
                      {{form.image}}
        </div>
        <div class="mb-3">
            <label class="mb-2 text-muted" for="description"> Description </label>
                      {{form.description}}
        </div>
        <div class="mb-3">
            <label class="mb-2 text-muted" for="price"> Original price </label>
                      {{form.price}}
        </div>
        <div class="mb-3">
            <label class="mb-2 text-muted" for="discount_price"> Selling price </label>
                      {{form.discount_price}}
        </div>
        <div class="mb-3">
            <label class="mb-2 text-muted" for="quantity"> Quantity </label>
                      {{form.quantity}}
        </div>

        <div class="align-items-center d-flex">
            <input type="submit" value="Add product" class="btn btn-primary ms-auto">
        </div>
</form>
</div>
</div>
</div>
           
  
  
{% endblock %}







<!-- <div class="mb-3">
   <label class="mb-2 text-muted" for="category">Category</label>
   <{{form.category}}>
   <label class="mb-2 text-muted" for="name">Title</label>
   <{{form.title}}>
   <input type="image" for="image">Image
   <label class="mb-2 text-muted" for="description">Description</label>
   <{{form.description}}>
   <label class="mb-2 text-muted" for="price">Price</label>
   <{{form.price}}>
   <label class="mb-2 text-muted" for="discount_price">discount_price</label>
   <{{form.discount_price}}>
   <label class="mb-2 text-muted" for="quantity">quantity</label>
   {{form.quantity}}>
</div> -->