{% extends 'base.html' %}

{% block title %} My account {% endblock %}

{% block content %}
<h1 class="text-2xl">My account</h1>
    <hr><h3 class="text-lg mb-4"> Hello {% firstof user.get_full_name user.username %}, </h3> <br><br><br>
    <hr>
  <!-- <a href="" class="text-lg mb-4"> View {% firstof user.get_full_name user.username %} orders </a> #{ % url 'my_store_order_detail' pk=order_item.order.id % }" -->
    <a href="{% url 'become_vendor' %}" class="btn btn-success ml-3"> Become a vendor </a>
    <a href="{% url 'logout' %}" class="btn btn-danger ml-5"> Log out </a>

{% endblock %}